<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">

    <div>Percentage: {{rate | percent}}</div>

</div>


<div class="courses">

    @for (
        course of courses | slice:0:2;
        track trackCourse;
        let index = $index;
        let count = $count;
    ) {

    <course-card
        (courseSelected)="onCourseSelected($event)"
        [index]="index"
        [course]="course" />

    }
    @empty {

        <h1>No courses found!</h1>

    }

</div>